/wikitablequestions-llm-service-core/main/wikitablequestions_llm_service_core/data/WikiTableQuestions/
/wikitablequestions-llm-service-core/main/wikitablequestions_llm_service_core/models/
/build/
/venv/
